{% extends 'home_layout.html' %}

{% block xx %}
    <div>
        {% for row in article_list_page %}
            <div class="artile_list">
                <div class="title">
                     <a href="/{{ blog.site }}/{{ row.nid }}.html">{{ row.title }}</a>
                </div>
                <div>{{ row.summary }}</div>
                <div class="postfooter">
                posted @ {{ row.create_time_format }} 阅读（{{ row.read_count }}） 评论（{{ row.comment_count }}）
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pager">
    {% if article_list_page %}
            <nav aria-label="Page navigation">
              <ul class="pagination">
                  {{ page_info.pager|safe }}
              </ul>
            </nav>
            {% endif %}
    </div>

{% endblock %}

