{% extends 'layout.html' %}

{% block content %}
    <div>
    <div style="margin: 20px 0">
        {% if "POST" in request.permission_code_list %}
            <a class="btn btn-primary" href="/trouble.html?md=post">添加</a>
        {% endif %}
    </div>
    <div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            {% for row in trouble_list_page%}
                <tr>
                    <td>{{ row.title }}</td>
                    <td>{{ row.get_status_display }}</td>
                    <td>
                        {% if 'EDIT' in request.permission_code_list %}
                            <a href="/trouble.html?md=edit&nid={{ row.id }}">编辑</a>
                        {% endif %}
                        {% if 'DEL' in request.permission_code_list %}
                            <a href="/trouble.html?md=del&nid={{ row.id }}">删除</a>
                        {% endif %}
                        {% if 'DETAIL' in request.permission_code_list %}
                            <a href="/trouble.html?md=detail&nid={{ row.id }}">查看详细</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </table>

          {% if trouble_list_page %}
            <nav aria-label="Page navigation">
              <ul class="pagination">
                {{ page_info.pager | safe }}
              </ul>
            </nav>
            {% endif %}
    </div>
    </div>
{% endblock %}