<form method="POST" novalidate>
    {% csrf_token %}
    {% for col in  formmmmmm %}
        {% if col.is_popup %}
            <p>
                {{ col.item.field.label }}
                {{ col.item }}
                <a href="#" onclick="popupOpen('{{ col.popup_url }}')">添加</a>
                {{ col.item.errors.0 }}</p>
        {% else %}
            <p>{{ col.item.field.label }}{{ col.item }} {{ col.item.errors.0 }}</p>
        {% endif %}
    {% endfor %}

    <input type="submit" value="提交" />
</form>
<script>
    function popupCallBack(data_dict) {
        var tag = document.createElement('option');
        tag.innerHTML = data_dict.text;
        tag.setAttribute('value',data_dict.pk);
        tag.setAttribute('selected','selected');

        document.getElementById(data_dict.popid).appendChild(tag);
    }
    function popupOpen(url) {
        window.open(url, url, "status=1, height:500, width:600, toolbar=0, resizeable=0");
    }

</script>