{% load curd_admin_list %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'curd_admin/plugins/bootstrap-3.3.7-dist/css/bootstrap.css' %}" />
</head>
<body>
<div class="container">
    <h1>数据列表</h1>
    {% if action_list %}
        <div class="row">
            <select name="action" class="form-control" style="display: inline-block;width: 200px;" >
                {% for item in action_list %}
                    <option value="{{ item.name }}">{{ item.text }}</option>
                {% endfor %}

            </select>
            <input type="submit" class="btn btn-primary" value="执行" />
        </div>
    {% endif %}
    <a class="btn btn-success" style="float: right" href="{{ add_url }}">添加</a>
    <!-- 数据表格 开始 -->
    {% func result_list list_display curd_admin_obj%}
    <!-- 数据表格 结束 -->

     <!-- 分页开始 -->
    <ul class="pagination">
        {{ page_str|safe }}
    </ul>
    <!-- 分页结束 -->
</div>
</body>
</html>