{% extends 'back/layout.html' %}

{% block css %}
    <style>
    .content-box {
        width: 1000px;
        margin-left: 20px;
    }
    .title {
        margin-top: 20px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .btn {
        padding: 3px 12px;
    }
    .page {
        float: left;
        margin-left: 800px;
    }
    </style>
{% endblock %}

{% block xx %}
     <ol class="breadcrumb">
              <li><a href="/back/category.html">分类管理</a></li>
              <li class="active">分类列表</li>
    </ol>

    <div class="content-box">
        <form action="category_add.html" method="POST">
            {% csrf_token %}
            <label class="title" for="">分类名称</label>
            <input type="text" name="title">
            <input class="btn btn-primary" type="submit" value="添加">
            <span>{{ msg }}</span>
        </form>

         <table class="table table-bordered table-striped table-hover">
           <thead>
            <tr>
                <td>分类</td>
                <td>文章个数</td>
                <td>操作</td>
            </tr>
           </thead>
        {% for row in category_list_page %}
            <div>
                    <tr>
                        {% if row.title  %}
                            <td> <a href="#">{{ row.title }}</a></td>
                            <td> <a href="#">{{ row.ct }}</a></td>
                            <td><a href="del_categroy/{{ row.nid }}.html">删除</a>|<a href="edit_category/{{ row.nid }}.html">编辑</a></td>
                        {% else %}
                            <td> <a href="#">未分类</a></td>
                            <td> <a href="#">{{ row.ct }}</a></td>
                            <td><s>删除</s>| <s>编辑</s></td>
                        {% endif %}
                    </tr>
            </div>
        {% endfor %}
           </table>
        </div>
        <div class="page">
            {% if category_list_page %}
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    {{ page_info.pager | safe }}
                  </ul>
                </nav>
            {% endif %}
        </div>
    </div>

{% endblock %}