<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugin/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/common.css">

    {% block css %}{% endblock %}
</head>
<body>
    <div class="pg-header">
        <div class="logo left">博客后台管理</div>
        <div class="avatar right">
            <img style="width: 40px;height: 40px;" src="/static/images/icon1.jpg">
            <div class="user-info">
                <a href="#">个人资料</a>
                <a href="#">使用帮助</a>
                <a href="#">注销</a>
            </div>
        </div>
        <div class="rmenus right">
            <a><i class="fa fa-commenting-o" aria-hidden="true"></i>消息</a>
            <a><i class="fa fa-envelope-o" aria-hidden="true"></i>邮件</a>
        </div>
    </div>
    <div class="pg-body">
        <div class="menus">
            <a href="/back/shaixuan-0-0-0.html"><i class="fa fa-building" aria-hidden="true"></i>文章管理</a>
            <a href="/back/category.html"><i class="fa fa-address-book-o" aria-hidden="true"></i>分类管理</a>
            <a href="/back/tag.html"><i class="fa fa-barcode" aria-hidden="true"></i>标签管理</a>
            <a href="#"><i class="fa fa-barcode" aria-hidden="true"></i>个人信息</a>
        </div>
        <div  class="content">
            {% block xx %}{% endblock %}
        </div>
    </div>
    {% block js %}{% endblock %}
</body>
</html>