{% extends 'index.html' %}


{% block extra-css %}
    <style>
        .breadcrumb li.active a {
            color: #777;!important;
        }
    </style>
{% endblock %}

{% block content-container %}
{#    {% csrf_token %}#}
    <div id="page-title">
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End page title-->
            <!--Breadcrumb-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <ol class="breadcrumb">
            <li class="page-header"><a href="#">主机管理</a></li>
            <li class="page-header active"><a href="#">批量执行命令</a></li>
        </ol>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End breadcrumb-->

        <!--Searchbox-->
        <div class="searchbox">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
                    <button class="text-muted" type="button"><i class="pli-magnifi-glass"></i></button>
                </span>
            </div>
        </div>
    </div>


    <div id="page-content">
        {% include 'components/hostgroups.html' %}

        <div class="col-lg-9">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">命令</h3>
                </div>
                <div class="panel-body">
                    <textarea class="form-control" id="cmd"></textarea>
                    <button onclick="PostTask('cmd')" class="btn btn-info pull-right">执行</button>
                    <button onclick="StopTask()" class="btn btn-danger ">终止</button>

                </div>
            </div>
            {% include 'components/taskresult.html' %}
        </div>

        </div>
    </div>


{% include 'components/multitask_js.html' %}
{% endblock %}